{% extends 'base1.html' %}

{% block title %}
    {{ model }} | Picobox
{% endblock %}

{% block banner %}
<section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-92" style="background-image: url(/static/assets/images/circuit.jpg);">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
</section>
{% endblock %}

{% block content %}

<section class="content-2" id="features1-108" style="background-color: rgb(255, 255, 255);">
    <div><br></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image">
                    <a href="one-page.html"><img class="img-responsive" src="/static/assets/images/dcatx.jpg"></a>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <h3>X300</h3>
                <h4>16-24v input, 300w output DC-DC ATX power supply</h4>
                <h4><strong>$65.00</strong></h4>
                <h5><em>Complimentary shipping worldwide</em></h5>
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-0">
                        <div class="mbr-buttons mbr-buttons--right"><a class="mbr-buttons__btn btn btn-sm btn-warning" href="#">ADD TO CART</a> </div>
                    </div>
                </div>
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Features</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>One</li>
                            <li>Two</li>
                            <li>Three</li>
                            <li>Four</li>
                        </ul>
                    </div>
                </div>

                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Downloads</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Manual</li>
                        <li class="list-group-item">Dimension</li>
                        <li class="list-group-item">Input cable harness</li>
                        <li class="list-group-item">Output cable harness</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-2" id="features1-108" style="background-color: rgb(239, 239, 239);">
    <div><br></div>
    <div class="container">
        <div class="image">
            <a href="one-page.html"><img class="img-responsive" src="/static/assets/images/dcatx.jpg"></a>
        </div>
    </div>
</section>


<section class="content-2" id="features1-108" style="background-color: rgb(255, 255, 255);">
    <div><br></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image">
                    <a href="one-page.html"><img class="img-responsive" src="/static/assets/images/dcatx.jpg"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image">
                    <a href="one-page.html"><img class="img-responsive" src="/static/assets/images/dcatx.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-2" id="features1-108" style="background-color: rgb(239, 239, 239);">
    <div><br></div>
    <div class="container">
        <div class="image">
            <a href="one-page.html"><img class="img-responsive" src="/static/assets/images/dcatx.jpg"></a>
        </div>
    </div>
</section>

<section class="content-2" id="features1-108" style="background-color: rgb(255, 255, 255);">
    <div><br></div>
    <div class="container">
        <div class="image">
            <a href="one-page.html"><img class="img-responsive" src="/static/assets/images/dcatx.jpg"></a>
        </div>
    </div>
</section>

{% endblock %}

