{% extends 'base1.html' %}

{% block title %}
    Our Story | Picobox
{% endblock %}

{% block banner %}
<section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-92" style="background-image: url(/static/assets/images/circuit.jpg);">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
</section>
{% endblock %}

{% block content %}

<section class="content-2" id="features1-108" style="background-color: rgb(255, 255, 255);">
    <div><br></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="text-center">Our Story</h1>
                <p>Build backpack VR ready PC with Geforce GTX980 using Picobox X300 PSU, letting you dive deep into virtual reality without the long cables Build backpack VR ready PC with Geforce GTX980 using Picobox X300 PSU, letting you dive deep into virtual reality without the long cables</p>
                <br>
                <p>All come as standard:</p>
                <ul>
                    <li>high quality components </li>
                    <li>high efficiency DC-DC topology</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}

