{% extends 'base1.html' %}
{% block title %}Picobox Power Supplies{% endblock %}

{% block banner %}
<section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-92" style="background-image: url(/static/assets/images/banner.jpg);">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class=" col-sm-10">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>X300 built for VR</h3>
                        <div>
                            <p>Build backpack VR ready PC with Geforce GTX980 using Picobox X300 PSU, letting you dive deep into virtual reality without the long cables. <br><br></p>
                        </div>
                    </div>
                </div>
                <div class="mbr-buttons btn-inverse mbr-buttons--center">
                    <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" href=#>LEARN MORE</a>
                    <!--<a class="mbr-buttons__btn btn btn-lg animated fadeInUp delay btn-warning" href=#>BUY NOW FOR $60</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block content %}

<section class="content-2" id="our-dc-atx" style="background-color: rgb(239, 239, 239);">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Our DC-ATX PSU</h3>
                <p>We design and manufacture small-size, fanless 100% silent, and smart ATX power supplies using synchronous DC-DC technologies.</p>
                <p><a href="#">Learn More</a></p>
            </div>
            <div class="col-md-8">
                <div class="image"><img class="img-responsive" src="/static/assets/images/dcatx.jpg"></div>
            </div>
        </div>
    </div>
</section>

<section class="content-2" id="our-ac-dc" style="background-color: rgb(239, 239, 239);">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Our AC-DC</h3>
                <p>We provide compact AC to DC power converter.</p>
                <p><a href="#">Learn More</a></p>
            </div>
            <div class="col-md-8">
                <div class="image"><img class="img-responsive" src="/static/assets/images/dcatx.jpg"></div>
            </div>
        </div>
    </div>
</section>


{% endblock %}